
.test-input { display: flex; align-items: center; margin-bottom: 15px; }
.test-input label { flex: 1; font-weight: bold; margin-right: 10px; }
.test-input input { flex: 2; padding: 10px; border: 1px solid #ccc; border-radius: 5px; }

.performance-indicators { margin-top: 20px; text-align: center; }
.performance-indicators span { font-weight: bold; }
.good-performance { color: var(--good-performance-color); }
.good-performance-bg { background-color: rgb(203, 250, 203); }
.moderate-performance { color: var(--moderate-performance-color); }
.moderate-performance-bg { background-color: rgb(241, 210, 152); }
.poor-performance { color: var(--poor-performance-color); }
.poor-performance-bg { background-color: rgb(227, 171, 171); }

.total-students, .total-students-needing-attention { text-align: center; margin-bottom: 20px; }
.students-needing-attention { margin-top: 40px; }
.attendance-data { margin-top: 20px; }
.file-input { margin-top: 20px; text-align: center; }
.quota-exceeded { margin-top: 20px; text-align: center; }
.quota-exceeded h3 { color: red; }

.download-button { margin-top: 20px; text-align: center; }
.download-button button {
  background-color: #3880ff; color: white; border: none; padding: 10px 20px;
  border-radius: var(--border-radius); cursor: pointer; font-family: var(--font-family);
  transition: background-color var(--transition-duration);
}
.download-button button:hover { background-color: #6691da; color: white; }

ion-spinner { --color: var(--primary-color); }
ion-button {
  --background: var(--primary-color); --color: #fff; --border-radius: var(--border-radius);
  --transition-duration: var(--transition-duration);
}
ion-button:hover { --background: var(--secondary-color); }
ion-icon { font-size: 1.2rem; }