<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>students-performance</ion-title>
    <ion-buttons slot="start">
      <!-- Menu Button (3 dots) -->
      <ion-button (click)="openMenu()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="menuVisible" class="menu">
    <ion-item (click)="goToMeeting()">Go to Meeting</ion-item>
    <ion-item (click)="goToCsv()">Go to CSV</ion-item>
    <ion-item (click)="goToStudentsManagement()">Go to students management</ion-item>
    <ion-item (click)="logout()">Logout</ion-item>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">students-performance</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="score-inputs">
    <ion-grid>
      <ion-row>
        <!-- <ion-col size="1" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
          <input [(ngModel)]="testOutOf[i - 1]" placeholder="Test {{ i }} Out Of" />
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Student Marks</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Loading spinner -->
            <div *ngIf="isLoading" class="loading-spinner">
              <ion-spinner name="crescent"></ion-spinner>
              <p>Loading data, please wait...</p>
            </div>
            <!-- Data content -->
            <div *ngIf="!isLoading">
              <div *ngFor="let i of testCount; let idx = index" class="test-input">
                <label for="testOutOf{{ i }}">Test {{ i }} : Out Of</label>
                <input 
                  [(ngModel)]="testOutOf[i - 1]" 
                  placeholder="Type what Test {{ i }} was Out Of" 
                />
              </div>
              <!-- Indicate what the colors mean -->
              <div class="performance-indicators">
                <span class="good-performance">Green:</span> 75% and above = <b class="good-performance-bg"> Good Performance</b> <br>
                <span class="moderate-performance">Orange:</span> 50% to 74% = <b class="moderate-performance-bg"> Moderate Performance</b> <br>
                <span class="poor-performance">Red:</span> Below 50% = <b class="poor-performance-bg"> Poor Performance </b>
              </div><br>
              <!-- Total number of students -->
              <div class="total-students">
                <h3>Total number of students: {{ students.length }}</h3>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>Student Number</th>
                    <th>Student Module</th>
                    <ng-container *ngFor="let test of testOutOf; let i = index">
                      <th *ngIf="hasTestMarks(i + 1)">Test {{ i + 1 }}</th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students">
                    <td>{{ student.studentNumber }}</td>
                    <td>{{ student.moduleCode }}</td>
                    <ng-container *ngFor="let test of testOutOf; let i = index">
                      <td *ngIf="student.marks['test' + (i + 1)] !== ''">{{ student.marks['test' + (i + 1)] }}</td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
              <!-- Table for students who need critical attention -->
              <div *ngIf="!isLoading">
                <div *ngIf="studentsNeedingAttention.length > 0" class="students-needing-attention">
                    <div class="total-students-needing-attention">
                        <h3>Students needing attention below.</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Student Number</th>
                                <th>Student Name</th>
                                <th>Student Surname</th>
                                <th>Student Email</th>
                                <th>Student Module</th>
                                <ng-container *ngFor="let test of testOutOf; let i = index">
                                    <th *ngIf="hasTestMarksForAttention(i + 1)">Test {{ i + 1 }}</th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let student of studentsNeedingAttention" >
                            <tr *ngIf="hasFailedMoreThanTwoTests(student)">
                                <td>{{ student.studentNumber }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.surname }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.moduleCode }}</td>
                                <ng-container *ngFor="let test of testOutOf; let i = index">
                                  <td *ngIf="student.marks['test' + (i + 1)] !== ''">{{ student.marks['test' + (i + 1)] }}</td>
                                </ng-container>
                            </tr>
                          </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>