<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Faculty Analytic</ion-title>
    <ion-buttons slot="start">
      <!-- Menu Button (3 dots) -->
      <ion-button (click)="openMenu()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>






<ion-content [fullscreen]="true">
  <div *ngIf="menuVisible" class="menu">
    <ion-item (click)="goToMeeting()">Go to Meeting</ion-item>
    <ion-item (click)="logout()">Logout</ion-item>
  </div>
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="circular"></ion-spinner>
    <p>Loading data...</p>
  </div>

  <!-- Main content - only shown when not loading -->
  <div class="w-full max-w-4xl" *ngIf="!isLoading">
    <div class="dropdown">
      <label for="performance-select">Select Performance Type</label>
      <select
        id="performance-select"
        class="dropdown-select"
        [(ngModel)]="selectedPerformanceType"
        (change)="onPerformanceTypeChange()">
        <option value="academic">Performance Academically</option>
        <option value="attendance">Performance Attendance</option>
      </select>

      <ng-container *ngIf="selectedPerformanceType === 'attendance'">
        <label for="time-select">Select Time Period</label>
        <select
          id="time-select"
          class="dropdown-select"
          [(ngModel)]="selectedTime"
          (change)="onTimeChange()">
          <option value="all">All Time</option>
          <option *ngFor="let month of availableMonths" [value]="month">
            {{month | date:'MMMM yyyy'}}
          </option>
        </select>
      </ng-container>
    </div>

    <div class="charts-container">
      <div class="chart-wrapper">
        <canvas id="departmentPerformanceChart"></canvas>
      </div>
      <div class="chart-wrapper">
        <canvas id="performanceLevelChart"></canvas>
      </div>
    </div>

    <ion-button expand="block" [routerLink]="['/module-mentorship']">
      Go to Module Mentorship
    </ion-button>
  </div>
</ion-content>