
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Faculty Analytic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full max-w-4xl">
    <div class="dropdown">
      <label for="performance-select">Select Performance Type</label>
      <select
        id="performance-select"
        class="dropdown-select"
        [(ngModel)]="selectedPerformanceType"
        (change)="onPerformanceTypeChange()">
        <option value="academic">Performance Academically</option>
        <option value="attendance">Performance Attendance</option>
      </select>

      <ng-container *ngIf="selectedPerformanceType === 'attendance'">
        <label for="month-select">Select Month</label>
        <select
          id="month-select"
          class="dropdown-select"
          [(ngModel)]="selectedMonth"
          (change)="onMonthChange()">
          <option *ngFor="let month of availableMonths" [value]="month">
            {{month | date:'MMMM yyyy'}}
          </option>
        </select>
      </ng-container>
    </div>

    <div class="charts-container">
      <div class="chart-wrapper">
        <canvas id="departmentPerformanceChart"></canvas>
      </div>
      <div class="chart-wrapper">
        <canvas id="performanceLevelChart"></canvas>
      </div>
    </div>

    <ion-button expand="block" [routerLink]="['/module-mentorship']">
      Go to Module Mentorship
    </ion-button>
  </div>
</ion-content>